@use './mixins/mixins' as *;
@use './common/var' as *;
@use './mixins/var' as *;

@include b(card) {
    @include set-component-css-var('card', $card);
}

@include b(card) {
    background: getCssVar('card', 'bg-color');
    color: getCssVar('card', 'color');
    border-radius: getCssVar('card', 'border-radius');
    border: 1px solid getCssVar('card', 'border-color');
    box-sizing: border-box;
    width: 100%;

    @include e(header) {
        padding: 10px 10px;
        border-bottom: 1px solid $color-grey;
    }

    @include e(body) {
        padding: 20px 5%;
    }

    @include e(footer) {
        padding: 10px 10px; /* 需要动态计算 */
        border-top: 1px solid $color-grey;
    }

    @include when(hover) {
        &:hover,
        &:focus {
            box-shadow: $shadow-around;
        }
    }

    @include when(always) {
        box-shadow: $shadow-around;
    }
}
