@use './mixins/mixins.scss' as *;

@include b(tree){
    display: inline-block;
    width: 100%;
}

@include b(tree-node){
    padding: 1px 0;
    font-size: 16px;

    &:hover {
        background: #eef;
    }

    @include e(expand-icon){
        display: inline-block;
        transform: rotate(0deg);
        transition: .15s;

        &.expanded {/* 被选中 */
            transform: rotate(-90deg);
        }
    }

    @include e(loading-icon){
        display: inline-block;
        animation: loading .8s linear infinite;
    }

    @include when(selected){
        background: #333;
    }
}
  
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  