@use './mixins/mixins' as *;
@use './common/var' as *;

@include b(upload) {
    display: inline-flex;

    input[type="file"] {
        display: none;
    }
}

@include b(upload-dragger) {

    @include when(dragging) {
        background: $color-grey;
    }
}