@use './mixins/mixins' as *;
@use './common/var' as *;

@include b(upload) {
    input[type="file"] {
        display: none;
    }

    @include e(default){
        padding: 10px 20px;
        border: 3px dotted rgba(91, 213, 91, 0.933);
        border-radius: 5px;

        &:hover {
            border-color: #ddd;
        }

        &:active {
            color: #ddd;
        }
    }

    @include when(disabled){
        cursor: not-allowed;
    }
}

@include b(upload-content) {
    display: inline-flex;

    @include when(disabled){
        opacity: .6;
        pointer-events: none;
    }
}

@include b(upload-list) {
    width: 100%;

    @include e(item){
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        list-style: none;
        border-radius: 5px;
        border: 1px solid #eee;

        &:hover {
            background: $color-grey;
        }
    }

    @include e(detail) {
        display: flex;
        align-items: baseline;
    }

    @include e(file-image) {
        width: 100px;
        border-radius: 5px;
        padding: 4px 10px 0px 10px;
    }
}

@include b(upload-dragger){
    @include when(dragging) {
        background: #000;
    }
}