@use './mixins/mixins.scss' as *;

@include b(virtual-list) {
    overflow-y: scroll;
    position: relative;
    border: 1px solid #eef;
    border-radius: 5px;
    width: 100%;

    @include e(scroll) {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
    }

    @include e(item) {
        &:hover {
            background: #eef;
        }
    }
}
